* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("weather.svg");
  background-size:400vh;

  
  font-family: helvetica, ariel, sans-serif;
}

#h1temp {
  color: rgb(46, 122, 72);
}

#title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: left;
}
.card-body {
  border: dotted;
  color: rgb(46, 122, 72);
  height: 230px;
  margin-left: 5px;
}

#currentCity {
  color: rgb(46, 122, 72);
}
.wind {
  font-size: 14px;
}

#humUvData {
  margin-left: 30px;
}

.hum {
  font-size: 14px;
}

.temp {
  font-size: 14px;
}

.card {
  border: dotted;
  color: rgb(35, 129, 82);
}

#weeklyForecast {
  margin-left: 15px;
}
#currentCity {
  margin-left: 20px;
}

img {
  width: 80px;
}
#current {
  margin-left: 15px;
}

#fiveDay {
  margin-left: 42px;
}
