* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("weather.svg");
  background-size:400vh;
  font-family: 'Comfortaa', cursive;
}

.navbar {
  background-color:rgb(254, 228, 237);
}

#h1temp {
  color: rgb(0, 0, 0);
  background-color: rgb(254, 228, 237);
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

#title {
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  text-align: left;
  color:rgba(67, 67, 67, 0.77);
}

.daybox {
  width: 100%;
  /* background-color: rgb(254, 228, 237); */
}

.card-body {
  border:solid;
  border-color: white;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  height: 300px;
  margin-left: 5px;
  background-color: rgb(237, 237, 237);
}

#currentCity {
  background-color: rgb(254, 228, 237);
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  color: rgb(221, 31, 110);
}
.wind {
  font-size: 14px;
}
.row {
  justify-content: flex-start;
}

#humUvData {
  background-color: rgb(254, 228, 237);
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

.hum {
  font-size: 14px;
}

.temp {
  font-size: 14px;
}

#iconToday {
  background-color: rgb(254, 228, 237);
  border-radius: 15px;
  margin: 10px;
  
}

/* .card {
  border: dotted;
  color: rgb(35, 129, 82);
} */

#weeklyForecast {
  border-radius: 10px;
  margin: 15px;
  justify-content: space-around;
  background-color: rgb(254, 228, 237);
  padding: 10px;
}

img {
  width: 120px;
  height: auto;
}
#current {
  background-color: rgb(254, 228, 237);
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  color:rgba(67, 67, 67, 0.77);

  font-size: 24px;
}

.fiveTitle {
display:flex;
align-items: center;
justify-content: center;
}

#fiveDay {
  text-align: center;
  border-radius: 15px;
  width: 30%;
  /* margin-left: 42px; */
  font-size: 44px;
  background-color: rgb(254, 228, 237);
  color:rgba(67, 67, 67, 0.77);
}

@media only screen and (max-width: 700px) {

    #fiveDay {
      font-size: 20px;
    }

    .card-body {
      justify-content: center;
      align-items: center;
    }

    .iconSize {
      width: 70px;
    }

    .date {
        font-size: 18px;
    }
    
    .card-body {
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: column;
    }

    .hum {
      font-size: 10px;
    }


}
